/* General Styles */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: palegoldenrod;
}

/* Container */
div {
  text-align: center;
  border-radius: 8px;
}

h2 {
  font-family: cursive;
  font-size: 32px;
}
/* Input Field */
input {
  width: 400px;

  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  padding: 12px 14px;
}

/* Add Button */
button {
  padding: 12px 30px;
  border: none;
  background-color: #000;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.line_through {
  text-decoration: line-through;
}

button:hover {
  background-color: #0056b3;
}

/* To-Do Items */
h1 {
  font-size: 18px;
  color: gray;
}

.todo-item {
  display: flex;
  align-items: center;
  width: 345px;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 0 10px;
  margin-top: 10px;
  margin-left: 20px;
}
.checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.icon {
  cursor: pointer;
}
